/* CSS declarations go here */
#map {
	/*position: absolute;*/
	width: 100vw;
	height: 50vh;
	margin-top: 20px;
}

.wave {
	height: 21px;
	width: 100%;
	-webkit-transform: scaleY(-1);
	background: url('/svg/patterns/pattern_wave.svg') repeat 0 0/contain;
	background-color: rgba(0,0,0,0);
	position: absolute;
}

.wave.top {
	margin-top: 0;
}

.wave.bottom {
	-webkit-transform: translateY(-100%);
}

canvas {
	visibility: hidden;
	position: absolute;
	z-index: -1;
	width: 42.86vw;
	height: 42.86vw;
}

html, body {
	padding: 0;
	margin: 0;
}